NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SARVAM_API_KEY=
QUARTZ_SOLAR_FORECAST_URL=https://open.quartz.solar/forecast/
WINDFM_WIND_FORECAST_URL=
WINDFM_REPO_PATH=
WINDFM_HISTORY_PATH=
WINDFM_MODEL_ID=NeoQuasar/WindFM
WINDFM_TOKENIZER_ID=NeoQuasar/WindFM-Tokenizer
WINDFM_DEVICE=cpu
WINDFM_POWER_SCALE=1
FORECAST_MODEL_TIMEOUT_MS=8000
